@import "dracula.css";

* {
    border: none;
    border-radius: 0;
    font-family: "san serif";
    font-size: 14px;
    min-height: 0;
  }

window#waybar {
  background: rgba(43, 48, 59, 0.5);
  color: @foreground;
}

#workspaces button {
  padding: 0 5px;
  color: @foreground;
  margin: 0.25em;
}

#workspaces button.empty {
  color: @dk-grey;
}

#workspaces button.visible {
  color: @foreground;
}

#workspaces button.active {
  color: @purple;
}

#workspaces button.urgent {
  color: @red;
}

#tray {
  padding: 0 5px;
}

#clock {
  padding: 0 5px;
}

#wireplumber {
  padding: 0 10px;
}
