@import "dracula.css";

* {
    border: none;
    border-radius: 0;
    font-family: FontAwesome, Inter, Noto Sans, Hack Nerd Font, sans-serif;
    font-size: 14px;
    min-height: 0;
  }

window#waybar {
  background: rgba(43, 48, 59, 0.5);
  color: @foreground;
}

#workspaces button {
  padding: 0 5px;
  color: @foreground;
  margin: 0.25em;
}

#workspaces button:hover {
  box-shadow: none;
  text-shadow: none;
  background: none;
  transition: none;
}

#workspaces button.empty {
  color: @dk-grey;
}

#workspaces button.visible {
  color: @foreground;
}

#workspaces button.active {
  color: @purple;
}

#workspaces button.urgent {
  color: @red;
}

#tray {
  padding: 0 5px;
}

#clock {
  padding: 0 5px;
}

#wireplumber {
  padding: 0 10px;
}

#custom-audio_idle_inhibitor {
  padding: 0 10px;
}

#custom-pacman {
  padding: 0 10px;
}

/* 
@keyframes blink-update {
	to {
		background-color: dodgerblue;
	}
}

#custom-pacman {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
#custom-pacman.pending-updates {
	animation-name: blink-update;
	animation-duration: 3s;
}
*/
